include AUTHORS CHANGES CHANGES.utils INSTALL LICENSE PAPERS README.rst
recursive-include demos *.py 
recursive-include docs *
recursive-include tests *.py
prune docs/source/generated/
exclude MANIFEST.in
