include AUTHORS CHANGES INSTALL LICENSE PAPERS README.rst
recursive-include demos *.py 
recursive-include docs *
exclude docs/source/*pgf*
exclude docs/source/images/*.pgf
exclude docs/source/make_*.py
prune docs/source/generated/
exclude MANIFEST.in
